.header {
	background-image: linear-gradient(to bottom, #243b55cc, #141e30be),
    url('../../../public/img/bg.jpg');
	background-size: cover;
	background-position: center;
	min-height: 400px;
}

.search{
	margin-top: -120px;
}

.search div{
	border-radius: 20px;
}
